<div class="container p-5 fondo">
    <h2 class="text-center mb-4">Bitácora</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID Bitácora</th>
            <th scope="col">Operación</th>
            <th scope="col">Detalle</th>
            <th scope="col">Fecha</th>
            <th scope="col">Usuario</th>
            <th scope="col">Tabla</th>
            <th scope="col">Datos Anteriores</th>
            <th scope="col">Datos Nuevos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bitacora of bitacoraList">
            <td>{{ bitacora.idBitacora }}</td>
            <td>{{ bitacora.operacion }}</td>
            <td>{{ bitacora.detalleOperacion }}</td>
            <td>{{ bitacora.fechaModif | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ bitacora.usuarioModif }}</td>
            <td>{{ bitacora.nombreTabla }}</td>
            <td>{{ bitacora.datosAnterior}}</td>
            <td>{{ bitacora.datosNuevos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  