.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    border-bottom: 1px solid #ddd;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

.fondo{
    background-color:#E0D3DE;
}
.boton{
    background-color: #788475;
}

.modal-content {
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

  